
{{#each this}}
<div class="gallery">
    <ul class="gallery-list">
        <li class="gallery-item">
            <div class="gallery-image_wrapper">{{image}}</div>
            <p class="gallery-info_name">{{name}}</p>
            <p class="gallery-info_genre">{{genre}} | {{year}}<span class="gallery-info_rating">rating</span></p>
        </li>
    </ul>
</div>
{{/each}}