
        <li class="gallery__item">
            <div class="gallery__image-wrapper"><img src=""alt"">{{image}}</div>
            <p class="gallery__info-name">{{name}}</p>
            <p class="gallery__info-genre">{{#each genre}} | {{year}}<span class="gallery__info-rating">rating</span></p>{{/each}}
        </li>
