.TopBtnScroll {
  //display: none;
  z-index: 0;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 25px;
  &:focus,
  &:hover {
    cursor: pointer;
    background-color: gray;
  }
}
