body {
  font-family: $main-font;
  font-weight: 500;
  background-color: $white-color;
}

.btn {
  padding: 0;
  width: 130px;
  height: 44px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  color: $white-color;
  background-color: transparent;

  border: 1px solid $white-color;
  box-sizing: border-box;
  border-radius: 5px;

  transition: background-color $anim-timing $anim-duration, color $anim-timing $anim-duration;

  @media screen and (min-width: 768px) {
    width: 136px;
    height: 44px;
  }

  &:hover,
  &:focus {
    cursor: pointer;

    background-color: $accent-btn-color;

    border: none;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    border-radius: 5px;
  }
}

.movie-card__btn {
  width: 112px;
  height: 44px;

  color: $main-text-color;

  border: 1px solid $main-text-color;

  @media screen and (min-width: 768px) {
    width: 126px;
    height: 44px;
  }

  @media screen and (min-width: 1024px) {
    width: 136px;
    height: 44px;
  }

  &:hover,
  &:focus {
    color: $white-color;

    box-shadow: none;
  }
}
